<template>
  <v-snackbar v-model="alertComp" :color="color" buttom multi-line outlined timeout="3000">
    {{ text }}
    <template v-slot:action="{ attrs }">
      <v-btn color="red" text v-bind="attrs" @click="close">Close</v-btn>
    </template>
  </v-snackbar>
</template>
<script>
const { mapGetters, mapActions } = require("vuex");

export default {
  name: "alertComp",
  computed: {
    ...mapGetters({
      status: "alert/status",
      color: "alert/color",
      text: "alert/text",
    }),
    alertComp: {
      get() {
        return this.status;
      },
      set(value) {
        this.setAlert({
          status: value,
        });
      },
    },
  },
  methods: {
    ...mapActions({
      setAlert: "alert/set",
    }),
    close() {
      this.setAlert({
        status: false,
      });
    },
  },
};
</script>
